.about-company {
  padding: 37px 30px 57px 30px;
  color: @black;
  background-color: @white;

  &__list {
    list-style: none;
  }

  &__item {
    padding-top: 83px;
    width: 100%;

    &:nth-child(1) {
      width: 180px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      width: 200px;
    }

    &:nth-child(4) {
      width: 210px;
    }

    &:nth-child(6) {
      width: 200px;
    }

    &:nth-child(1) {
      background-image: url("../img/icon-feature-flower.svg");
      background-repeat: no-repeat;
      background-position: 8px 27px;
    }

    &:nth-child(2) {
      background-image: url("../img/icon-feature-money.svg");
      background-repeat: no-repeat;
      background-position: 0px 28px;
    }

    &:nth-child(3) {
      background-image: url("../img/icon-feature-heart.svg");
      background-repeat: no-repeat;
      background-position: 7px 33px;
    }

    &:nth-child(4) {
      background-image: url("../img/icon-feature-ball.svg");
      background-repeat: no-repeat;
      background-position: 4px 30px;
    }

    &:nth-child(5) {
      background-image: url("../img/icon-feature-rocket.svg");
      background-repeat: no-repeat;
      background-position: -5px 31px;
    }

    &:nth-child(6) {
      background-image: url("../img/icon-feature-gift.svg");
      background-repeat: no-repeat;
      background-position: 3px 29px;
    }
  }
}
