.about-company {
  margin: 0;
  padding: 31px 30px 58px 30px;
  color: @black;
  background-color: @white;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 320px 6px;
  }
}

.about-company__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
}

.about-company__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-company__item {
  margin: 0;
  padding: 0;
  padding-top: 83px;
  position: relative;
}

.about-company__list li:first-child::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 8px;
  width: 32px;
  height: 37px;
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: repeat;
  background-position: 0 0;
}

.about-company__list li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 0px;
  width: 47px;
  height: 27px;
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: repeat;
  background-position: 0 0;
}

.about-company__list li:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 7px;
  width: 34px;
  height: 27px;
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: repeat;
  background-position: 0 0;
}

.about-company__list li:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 3px;
  width: 35px;
  height: 34px;
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: repeat;
  background-position: 0 0;
}

.about-company__list li:nth-child(5)::before {
  content: "";
  position: absolute;
  top: 26px;
  left: -6px;
  width: 55px;
  height: 23px;
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: repeat;
  background-position: 0 0;
}

.about-company__list li:last-child::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 3px;
  width: 33px;
  height: 32px;
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: repeat;
  background-position: 0 0;
}
