.button {
  color: @grey-dark;
  background-color: @white;
  border: 2px solid @grey-dark;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 14px 0;

  &:hover {
    color: @white;
    background: @grey-dark;
  }

  &:active {
    background: @grey-dark;
    opacity: 0.3;
  }

  &--burger {
    width: 20px;
    height: 14px;
    outline: none;
    cursor: pointer;
    background-color: @white;
    position: absolute;
    top: 25px;
    right: 41px;
    border: 0;

    &::before {
      position: relative;
      background-color: transparent;
      border: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 14px;
      background-image: url("../img/icon-menu-open.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &--link {
    display: inline-block;
    width: 99%;
    padding: 14px 0;
  }

  &--products {
    width: 20px;
    height: 19px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    bottom: 33px;
    right: 32px;
    border: 0;
  }

  &--video {
    width: 192px;
    line-height: 16px;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 0;
  }

  &--filters {
    padding: 16px 0;
    font-size: 17px;
    line-height: 16px;
  }

  &--prev {
    width: 130px;
    height: 52px;
    border: 1px solid @grey-regular;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 37px;
      width: 50px;
      height: 26px;
      background-image: url("../img/icon-left-arrow.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &:hover {
      background: transparent;
      opacity: 0.6;
    }

    &:active {
      background: transparent;
      opacity: 0.3;
    }
  }

  &--next {
    width: 130px;
    height: 52px;
    border: 1px solid @grey-regular;
    position: relative;

    &:hover {
      background: transparent;
      opacity: 0.6;
    }

    &:active {
      background: transparent;
      opacity: 0.3;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 37px;
      width: 50px;
      height: 26px;
      background-image: url("../img/icon-right-arrow.svg");
      background-repeat: repeat;
      background-position: 0 0;
    }
  }

  &--basket-form {
    margin-top: 30px;
    padding: 18px 30px;
    color: #ffffff;
    background-color: #63d1bb;
    border: none;

    &:hover,
    &:focus {
      background-color: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet) {
  .button {
    font-size: 17px;

    &--burger {
      display: none;
    }

    &--prev {
      width: 87px;
      height: 52px;
      border: none;


      &::before {
        top: 12px;
        left: 17px;
      }
    }

    &--next {
      width: 87px;
      height: 52px;
      border: none;

      &::before {
        top: 12px;
        left: 17px;
      }
    }

    &--review {
      position: absolute;
      top: 81px;
      right: 50px;
      width: 171px;
    }

    &--contacts {
      display: block;
      margin: 0 auto;
      width: 230px;
    }

    &--video {
      width: 100%;
    }

    &--filters {
      width: 230px;
      order: -1;
    }
  }
}

@media (min-width: @desktop) {
  .button {
    &--contacts {
      position: absolute;
      left: 175px;
      bottom: 105px;
      margin: 0;
      padding: 16px 27px;
      height: 52px;
    }

    &--review {
      right: 0;
    }
  }
}
