.contacts {
  margin: 0 auto;
  padding: 45px 0 39px 0;
  position: relative;
  box-sizing: border-box;

  &__body {
    padding-bottom: 34px;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: @grey-dark;
  }

  &__row {
    display: flex;
    flex-wrap: nowrap;
    padding: 28px 0 0 0;
  }

  &__first-column {
    width: 76px;
  }

  &__second-column {
    width: 163px;
  }

  &__email {
    cursor: pointer;
    border-bottom: 1px solid @green-regular;

    &:hover,
    &:active {
      color: @green-regular;
    }

    &:active {
      border-bottom: 0;
    }
  }
}

@media (min-width: @tablet) {
  .contacts {
    padding: 83px 0 52px 0;

    &__body {
      font-size: 17px;
      padding-bottom: 49px;
      width: 668px;
      display: flex;
      justify-content: space-between;
    }

    &__row {
      flex-direction: row;
      padding-top: 47px;
    }

    &__first-column {
      width: 79px;
    }

    &__second-column {
      width: 245px;
      padding-right: 10px;
    }
  }
}

@media (min-width: @desktop) {
  .contacts {
    padding: 173px 0 190px 175px;
    display: flex;

    &__body {
      flex-direction: column;
    }

    &__row {
      padding-top: 33px;
    }

    &__second-column {
      width: 250px;
    }
  }
}
