.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

@media (min-width: @tablet) {
  .container {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: @desktop) {
  .container {
    width: 1150px;
  }
}
