.contacts {
  padding: 45px 39px 0;
  position: relative;
  box-sizing: border-box;

  &__body {
    padding-bottom: 34px;
    box-sizing: border-box;
    color: @grey-dark;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
  }

  &__row {
    display: flex;
    flex-wrap: nowrap;
    padding: 28px 0 0 0;
  }

  &__first-column {
    width: 76px;
  }

  &__second-column {
    padding-left: 1px;
    width: 163px;
  }

  &__email {
    cursor: pointer;
    border-bottom: 1px solid @green-regular;

    &:hover {
      color: @green-regular;
    }

    &:active {
      color: @green-regular;
      border-bottom: 0;
    }
  }

  &__map {
    margin-bottom: 39px;
    width: 320px;
    height: 457px;
    background-image: url("../img/map-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: @tablet) {
  .contacts {
    padding: 83px 0 57px 0;
    position: relative;
    box-sizing: border-box;

    &__body {
      width: 668px;
      padding-bottom: 49px;
      font-size: 17px;
      display: flex;
      justify-content: space-between;
    }

    &__row {
      display: flex;
      flex-direction: row;
      padding-top: 47px;
    }

    &__first-column {
      width: 79px;
    }

    &__second-column {
      padding-left: 0px;
      width: 255px;
    }

    &__map {
      margin-bottom: 54px;
      width: 768px;
      height: 457px;
      background-image: url("../img/map-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

