.filters {
  padding: 17px 0 55px 0;
  box-sizing: border-box;

  &__text {
    padding-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: @grey-dark;
  }

  &__list {
    list-style: none;
    padding-bottom: 43px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--name {
      padding-bottom: 15px;
    }
  }

  &__type,
  &__color,
  &__name,
  &__phone,
  &__email,
  &__add {
    display: flex;
    flex-direction: column;
  }

  &__type {
    min-height: 170px;
  }

  &__color {
    min-height: 420px;
  }

  &__color,
  &__phone,
  &__email {
    padding: 0 30px;
  }

  &__title {
    padding-bottom: 36px;
    font-size: 17px;
    line-height: 16px;
    color: @green-light;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      flex-grow: 1;
      flex-shrink: 0;
      width: 100px;
      height: 1px;
      margin-left: 20px;
      background-color: #63d1bb;
    }

    &--name {
      padding-bottom: 27px;
    }

    &--phone,
    &--email {
      padding-bottom: 3px;
    }

    &--add {
      padding-bottom: 23px;
    }
  }

  &__item {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: @black;
  }

  &__label {
    padding-left: 60px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
  }

  &__input--radio + &__label::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 1px;
    width: 34px;
    height: 34px;
    border: 2px solid #444444;
    border-radius: 50%;
  }

  &__input--radio:checked + &__label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 13px;
    width: 15px;
    height: 15px;
    background-color: #63d1bb;
    border-radius: 50%;
  }

  &__input--checkbox + &__label::before {
    content: "";
    position: absolute;
    left: 0;
    top: -12px;
    width: 34px;
    height: 35px;
    border: 2px solid #444444;
  }

  &__input--checkbox:checked + &__label::after {
    content: "";
    position: absolute;
    left: 8px;
    width: 21px;
    height: 16px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__input--radio:hover + &__label:hover::before,
  &__input--checkbox:hover + &__label:hover::before {
    border-color: #62d1ba;
  }

  &__input--radio:active + &__label:active::before,
  &__input--checkbox:active + &__label:active::before {
    border-color: @grey-dark;
    opacity: 0.3;
  }

  &__input {
    margin-bottom: 21px;
    padding: 14px 0;
    width: 100%;
    font-weight: normal;
    font-size: 19px;
    line-height: 18px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid @black;
    display: inline-block;
    outline: none;
    cursor: pointer;

    &--phone {
      margin-bottom: 35px;
    }

    &--email {
      margin: 0 0 35px 0;
    }

    &:hover,
    &:active {
      border-color: #62d1ba;
    }
  }

  &__input--phone:hover + &__phone-img path,
  &__input--phone:active + &__phone-img path,
  &__input--email:hover + &__email-img path,
  &__input--email:focus + &__email-img path {
    fill: #63d1ba;
  }

  &__phone,
  &__email {
    position: relative;
  }

  &__phone-img {
    position: absolute;
    top: 30px;
    right: 37px;
  }

  &__email-img {
    position: absolute;
    top: 31px;
    right: 33px;
  }

  &__phone-img,
  &__email-img {
    &:hover path,
    &:active path {
      fill: @green-light;
    }
  }


  &__textarea {
    margin-bottom: 16px;
    padding: 17px;
    width: 100%;
    min-height: 142px;
    box-sizing: border-box;
    border: 2px solid #444444;
    outline: none;
  }

  &__input,
  &__textarea {
    &::placeholder {
      color: @black;
      opacity: 0.3;
      font-family: "Open Sans", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 18px;
    }
  }

  &__form-end {
    margin: 0 30px;
  }

  &__important {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: @grey-dark;
  }
}

@media (min-width: @tablet) {
  .filters {
    padding: 66px 0 50px 0;

    &__text {
      padding-bottom: 15px;
      font-size: 17px;
      line-height: 30px;
    }

    &__list {
      padding: 0;
      flex-direction: row;
      flex-wrap: wrap;

      &--type {
        padding: 50px 0 25px 0;
      }

      &--color {
        padding: 48px 0 20px 0;
      }

      &--name {
        flex-direction: column;
        padding: 47px 0 54px 0;
      }
    }

    &__item {
      font-size: 19px;

      &--type {
        padding: 13px 0 22px 0;
        margin-bottom: 23px;
      }

      &--color {
        padding: 13px 0 16px 0;
        margin-bottom: 24px;
        width: 48%;
      }

      &--name {
        display: flex;
      }
    }

    &__title {
      min-width: 167px;
      padding-top: 66px;
      padding-bottom: 0;
      align-items: flex-start;

      &::after {
        display: none;
      }

      &--phone {
        padding-top: 15px;
      }

      &--email,
      &--add {
        padding-top: 17px;
      }
    }

    &__type,
    &__color,
    &__name,
    &__phone,
    &__email,
    &__add {
      flex-direction: row;
    }

    &__color {
      background-color: #f1f1f1;
      padding-left: 50px;
      padding-right: 50px;
    }

    &__type {
      min-height: 220px;
    }

    &__color,
    &__name {
      min-height: 304px;
    }

    &__phone,
    &__email {
      background-color: #f1f1f1;
    }

    &__phone-img {
      top: 58px;
      right: 76px;
    }

    &__email-img {
      top: 10px;
      right: 72px;
    }

    &__add {
      min-height: 192px;
      padding-top: 50px;
    }

    &__label {
      padding-left: 80px;
    }

    &__input--radio + &__label::before {
      top: -20px;
      left: 0;
      width: 50px;
      height: 50px;
    }

    &__input--radio:checked + &__label::after {
      top: -4px;
      left: 15px;
      width: 24px;
      height: 24px;
    }

    &__input--checkbox + &__label::before {
      left: 0;
      top: -16px;
      width: 50px;
      height: 50px;
    }

    &__input--checkbox:checked + &__label::after {
      top: 2px;
      left: 10px;
      width: 33px;
      height: 22px;
      background-size: 33px 22px;
    }

    &__label-name {
      padding: 17px 25px 0 0;
    }

    &__input {
      margin: 0;
      padding: 14px 0;

      &--phone,
      &--email {
        background-color: #f1f1f1;
        height: 52px;
      }
    }

    &__textarea {
      height: 142px;
      padding: 15px;
      margin-bottom: 0;

      &::placeholder {
        padding: 0;
      }
    }

    &__phone {
      padding: 48px 50px 24px 50px;
    }

    &__email {
      padding: 0 50px 50px 50px;
    }

    &__input,
    &__textarea {
      &::placeholder {
        padding-left: 17px;
        font-size: 19px;
        line-height: 18px;
      }
    }

    &__form-end {
      display: flex;
      margin: 0;
      padding: 0 50px;
    }

    &__important {
      display: flex;
      padding-top: 12px;
      margin: 0;
      margin-left: auto;
      font-size: 17px;
      line-height: 30px;
    }
  }
}

@media (min-width: @desktop) {
  .filters {
    padding: 100px 0 50px 0;

    &__text {
      margin: 0 auto;
      padding-left: 19.5%;
      padding-right: 18%;
    }

    &__list {
      &--type {
        flex-direction: column;
      }

      &--color {
        padding-right: 93px;
      }
    }

    &__item {
      &--color {
        width: 33%;
      }
    }

    &__title {
      min-width: 115px;
    }

    &__type {
      padding-left: 5.4%;
    }

    &__color {
      padding-left: 9.8%;
      min-height: 228px;
    }

    &__name,
    &__phone,
    &__email {
      margin: 0 auto;
      padding-left: 9.8%;
      padding-right: 19.5%;
    }

    &__phone-img {
      top: 55px;
      right: 20.2%;
    }

    &__email-img {
      top: 8px;
      right: 20%;
    }

    &__add {
      padding-left: 5.5%;
      padding-right: 15%;
      min-height: 190px;
    }

    &__textarea {
      &::placeholder {
        padding-left: 0;
      }
    }

    &__form-end {
      padding-left: 19.7%;
      padding-right: 19.6%;
    }
  }
}
