.goods {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  color: @grey-dark;

  &__text {
    display: block;
    padding-top: 5px;
    font-weight: bold;
    color: @green-light;
    text-transform: uppercase;
  }

  &__description {
    padding-top: 17px;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 21px;
  }

  &__table {
    width: 100%;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    border-collapse: collapse;
  }

  &__row {
    border-bottom: 1px solid @grey-regular;
  }

  &__first-column,
  &__second-column {
    padding: 9px 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
  }


  &__first-column {
    width: 38%;
  }

  &__img {
    background-color: @grey-light;
  }

  &__price {
    padding-top: 22px;
    margin-bottom: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: @tablet) {
  .goods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__text {
      width: 100px;
      margin-left: 128px;
      text-align: center;
    }

    &__item {
      position: relative;
      margin-top: 39px;
    }

    &__info {
      width: 43%;
    }

    &__description {
      padding-top: 0;
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 38px;
    }

    &__table {
      margin-bottom: 0;
    }

    &__first-column {
      width: 97px;
    }

    &__price {
      margin-bottom: 32px;
      font-size: 20px;
    }

    &__order {
      width: 292px;
      padding-top: 40px;
    }

    &__img {
      width: 334px;
      height: 404px;
      position: absolute;
      top: 11px;
      right: 0;
    }
  }
}

@media (min-width: @desktop) {
  .goods {
    padding-left: 225px;
    position: relative;

    &__first-column,
    &__second-column {
      padding-bottom: 11px;
    }

    &__text {
      line-height: 17px;
      position: absolute;
      top: 135px;
      left: -45px;
    }

    &__info {
      width: 48%;
    }

    &__item {
      width: 75%;
      margin-top: 38px;
    }

    &__first-column {
      max-width: 35%;
    }

    &__description {
      padding-top: 55px;
      margin-bottom: 50px;
    }

    &__order {
      padding-top: 88px;
    }

    &__img {
      width: 525px;
      height: 636px;
      top: -100px;
      right: -220px;
    }
  }
}
