.goods {
  padding: 30px 0 36px 0;
  display: flex;
  flex-direction: column;

  &__text {
    display: block;
    padding-top: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: @green-light;
    text-transform: uppercase;
  }

  &__description {
    width: 260px;
    font-weight: normal;
    padding-top: 17px;
    color: @grey-dark;
    font-size: 15px;
    line-height: 24px;
  }

  &__table {
    width: 260px;
    margin-top: 17px;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: @grey-dark;
    text-align: left;
    border-collapse: collapse;
  }

  &__row {
    border-bottom: 1px solid @grey-regular;
  }

  &__first-column {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__second-column {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 17px;
  }

  &__order {
    margin: 0;
  }

  &__price {
    padding-top: 20px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: @grey-dark;
  }
}

@media (min-width: @tablet) {
  .goods {
    padding: 51px 0 52px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__text {
      width: 100px;
      margin-left: 128px;
      line-height: 17px;
      text-align: center;
    }

    &__info {
      width: 292px;
      padding-top: 39px;
    }

    &__description {
      width: 100%;
      padding-top: 0px;
      font-size: 17px;
      line-height: 30px;
    }

    &__table {
      width: 292px;
      margin-top: 35px;
      margin-bottom: 0px;
    }

    &__second-column {
      padding-left: 0px;
    }

    &__price {
      width: 292px;
      margin-top: -32px;
      margin-bottom: 32px;
      font-size: 20px;
    }

    &__img {
      margin-left: auto;
      padding-top: 39px;
    }
  }
}

@media (min-width: @desktop) {

}
