.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--index {
    background-color: #f9f9f9;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 20%;
  }

  &--page {
    background-color: @grey-light;
  }

  &__blocks {
    width: 320px;
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 24px 160px 31px 30px;
    color: @white;
    font-size: 19px;
    line-height: 24px;
    display: block;

    &:hover {
      padding: 19px 160px 36px 30px;
      margin-top: -5px;
    }
  }

  &__item--lighter {
    background-color: @green-light;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 245px 23px;

    &:hover {
      background-position: 245px 18px;
      background-image: url("../img/icon-interior-hover.svg");
    }

    &:active {
      background-position: 245px 18px;
      background-image: url("../img/icon-interior-active.svg");
    }
  }

  &__item--darker {
    background-color: @green-dark;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: 234px 21px;

    &:hover {
      background-position: 234px 16px;
      background-image: url("../img/icon-toy-hover.svg");
    }

    &:active {
      background-position: 234px 16px;
      background-image: url("../img/icon-toy-active.svg");
    }
  }
}

@media (min-width: @tablet) {
  .intro {
    &--index {
      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: 50% 1%;
    }

    &__blocks {
      width: 668px;
      flex-direction: row;
      padding: 0 auto;
    }

    &__item {
      width: 334px;
      padding: 25px 167px 34px 36px;
      font-size: 20px;
      line-height: 30px;

      &:hover {
        padding: 20px 167px 39px 36px;
      }
    }

    &__item--lighter {
      background-position: 258px 30px;

      &:hover,
      &:active {
        background-position: 258px 25px;
      }
    }

    &__item--darker {
      background-position: 240px 30px;

      &:hover,
      &:active {
        background-position: 240px 25px;
      }
    }
  }
}

@media (min-width: @desktop) {
  .intro {
    &--page {
      &::after {
        height: 54px;
        background-size: contain;
        bottom: -18px;
      }
    }

    &--index {
      background-image: url("../img/hero-desktop@1x.jpg");

      &::after {
        height: 55px;
        background-size: contain;
        bottom: -30px;
      }
    }

    &__blocks {
      width: 1050px;
    }

    &__item {
      width: 525px;
      padding: 25px 350px 34px 37px;
      font-size: 20px;
      line-height: 30px;

      &:hover {
        padding: 20px 350px 39px 37px;
      }
    }

    &__item--lighter {
      background-position: 450px 30px;

      &:hover,
      &:active {
        background-position: 450px 25px;
      }
    }

    &__item--darker {
      background-position: 430px 31px;

      &:hover,
      &:active {
        background-position: 430px 26px;
      }
    }
  }
}
