.intro {
  min-height: 177px;
  font-size: 19px;
  line-height: 24px;
  color: @black;
  background-color: @grey-light;

  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: -127px -18px;
  }

  &__title {
    width: 260px;
    text-align: center;
    font-size: 27px;
    line-height: 30px;

    &--index {
      padding: 72px 30px 120px 30px;
    }
  }

  &__list {
    list-style: none;
    background-color: @grey-light;
  }

  &__item {
    height: 103px;
    box-sizing: border-box;

    &:hover {
      height: 108px;
    }

    &--lighter {
      background-color: @green-light;
    }

    &--darker {
      background-color: @green-dark;
    }
  }

  &__item--lighter {
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 245px 23px;

    &:hover {
      background-position: 245px 18px;
      background-image: url("../img/icon-interior-hover.svg");
    }

    &:active {
      background-position: 245px 18px;
      background-image: url("../img/icon-interior-active.svg");
    }
  }

  &__item--darker {
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: 234px 21px;

    &:hover {
      background-position: 234px 16px;
      background-image: url("../img/icon-toy-hover.svg");
    }

    &:active {
      background-position: 234px 16px;
      background-image: url("../img/icon-toy-active.svg");
    }
  }

  &__link {
    width: 130px;
    padding: 24px 160px 31px 30px;
    color: @white;
    font-size: 19px;
    line-height: 24px;
    display: inline-block;

    &:hover {
      padding: 19px 160px 31px 30px;
    }
  }

  &--catalog {
    height: 177px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--form {
    height: 177px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
