.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @grey-light;

  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: -127px -18px;
  }

  &__blocks {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 24px 160px 31px 30px;
    color: @white;
    font-size: 19px;
    line-height: 24px;
    display: block;

    &:hover {
      padding: 19px 160px 36px 30px;
    }
  }

  &__item--lighter {
    background-color: @green-light;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 245px 23px;

    &:hover {
      background-position: 245px 18px;
      background-image: url("../img/icon-interior-hover.svg");
    }

    &:active {
      background-position: 245px 18px;
      background-image: url("../img/icon-interior-active.svg");
    }
  }

  &__item--darker {
    background-color: @green-dark;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: 234px 21px;

    &:hover {
      background-position: 234px 16px;
      background-image: url("../img/icon-toy-hover.svg");
    }

    &:active {
      background-position: 234px 16px;
      background-image: url("../img/icon-toy-active.svg");
    }
  }
}

@media (min-width: @tablet) {
  .intro {
    &--index {
      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: -191px 0;
    }

    &__blocks {
      width: 87%;
      flex-direction: row;
      padding: 0 auto;
    }

    &__item {
      width: 50%;
      padding: 25px 167px 34px 36px;
      font-size: 20px;
      line-height: 30px;

      &:hover {
        padding: 20px 167px 39px 36px;
      }
    }

    &__item--lighter {
      background-position: 258px 30px;

      &:hover,
      &:active {
        background-position: 258px 25px;
      }
    }

    &__item--darker {
      background-position: 240px 30px;

      &:hover,
      &:active {
        background-position: 240px 25px;
      }
    }
  }
}
