.page-footer {
  font-size: 19px;
  line-height: 18px;
  color: @black;
  background: @grey-light;
  display: grid;
  grid-auto-flow: row;

  &__logo {
    display: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__social {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__copyright {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e5e5e5;
  }
}

@media (min-width: @tablet) {
  .page-footer {
    grid-auto-flow: column;
    grid-template-columns: 20% 48% 32%;
    grid-template-rows: 145px;

    &__logo {
      grid-row: 1 / 1;
      display: block;
      margin: auto 0;
    }

    &__social {
      grid-row: 1 / 1;
      margin: auto 0;
    }

    &__copyright {
      border-top: none;
      grid-row: 1 / 1;
      margin: auto 0;
      margin-left: auto;
    }
  }
}

@media (min-width: @desktop) {
  .page-footer {
    grid-template-columns: 15% 62% 23%;
  }
}
