.page-main {
  color: @black;
  background-color: @white;

  &__contacts {
    width: 100%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 320px;
      height: 6px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-y;
      background-position: 0 0;
      background-size: 320px 7px;
      overflow: visible;
    }
  }

  &__about {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 320px;
      height: 6px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-y;
      background-position: 0 0;
      background-size: 320px 7px;
    }

    &__video {
      padding: 0 30px 58px 30px;
    }
  }
}
