.page-main {
  margin: 0;
  padding: 0;
  color: @black;
  background-color: @white;
}

.page-main__contacts {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-y;
    background-position: 0 0;
    background-size: 320px 6px;
    overflow: visible;
  }
}

.page-main__video {
  margin: 0 30px;
  padding-bottom: 58px;
  box-sizing: border-box;
}

.page-main__filters {
  margin: 0;
  padding: 17px 30px 55px 30px;
}

