.page-footer {
  font-size: 19px;
  line-height: 18px;
  color: @black;
  background: @grey-light;
  display: grid;
  grid-auto-flow: row;

  &__logo {
    display: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__social {
    margin-left: 30px;
    margin-right: 30px;;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__copyright {
    margin-left: 30px;
    margin-right: 30px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e5e5e5;
  }
}

@media (min-width: @tablet) {
  .page-footer {
    padding: 0 50px;
    grid-auto-flow: column;
    grid-template-columns: 222px 222px 222px;
    grid-template-rows: 145px;

    &__logo {
      grid-column: 1 / 2;
      grid-row: 1 / 1;
      display: block;
      margin: auto 0;
    }

    &__social {
      margin: 0px;
      grid-column: 2 / 3;
      grid-row: 1 / 1;
      margin: auto 0;
    }

    &__copyright {
      margin: 0px;
      border-top: none;
      grid-column: 3 / 4;
      grid-row: 1 / 1;
      margin: auto 0;
      margin-left: auto;
    }
  }
}

