.page {
  width: 320px;
  margin: 0 auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @black;
  background-color: rgba(122,251,122,0.2);

  &__header {
    position: relative;
  }
}
