.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @black;
  background-color: @white;

  &__header {
    width: 320px;
    margin: 0 auto;
    position: relative;
  }

  &__footer {
    width: 100%;
    background: @grey-light;
  }
}

@media (min-width: @tablet) {
  .page {
    &__header {
      width: 768px;
    }
  }
}

@media (min-width: @desktop) {
  .page {
    &__header {
      width: 1150px;
    }
  }
}
