.products {
  padding-bottom: 30px;

  &__list {
    list-style: none;
    color: @black;
  }

  &__item {
    padding-top: 30px;
  }

  &__link {
    display: flex;
  }

  &__img {
    display: inline-block;
  }

  &__info {
    padding: 0 28px 26px 27px;
    border: 1px solid @grey-regular;
    box-sizing: border-box;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  &__name {
    padding: 27px 0 5px 0;

    &--toys {
      padding: 25px 0 10px 0;
    }
  }

  &__link-item {
    font-size: 17px;
    line-height: 24px;
    color: @black;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__description {
    padding-bottom: 17px;
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    color: @grey-dark;
  }

  &__price {
    padding-top: 22px;
    font-size: 15px;
    line-height: 24px;
    color: @black;
    border-top: 1px solid @grey-regular;

    &:hover::before {
      background-image: url("../img/icon-cart-hover.svg");
    }

    &:active::before {
      background-image: url("../img/icon-cart-active.svg");
    }
  }
}
