.products {
  margin: 0 auto;
  line-height: 24px;

  &__list {
    list-style: none;
  }

  &__item {
    padding-top: 30px;
  }

  &__link {
    display: flex;
    height: 195px;
  }

  &__img {
    display: inline-block;
  }

  &__info {
    min-height: 179px;
    display: flex;
    flex-direction: column;
    padding: 26px 28px;
    border: 1px solid @grey-regular;
    box-sizing: border-box;
    position: relative;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  &__link-item {
    color: @black;
    font-size: 17px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__description {
    padding-top: 5px;
    padding-bottom: 18px;
    flex-grow: 1;
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    color: @grey-dark;
  }

  &__price {
    justify-content: flex-end;
    padding-top: 22px;
    font-size: 15px;
    border-top: 1px solid @grey-regular;
  }
}

@media (min-width: @tablet) {
  .products {
    padding: 24px 0 53px 0;

    &__item {
      padding-top: 54px;
      display: flex;
    }

    &__link {
      height: 195px;
    }

    &__img {
      width: 334px;
      height: 334px;
    }

    &__info {
      padding: 26px 33px;
      width: 335px;
      min-height: 334px;
    }

    &__link-item {
      font-size: 20px;
    }

    &__description {
      font-size: 15px;
      padding-top: 7px;
      padding-bottom: 0;
    }

    &__price {
      padding-top: 24px;
      font-size: 17px;
    }
  }
}

@media (min-width: @desktop) {
  .products {
    padding: 130px 0 37px 0;

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__link {
      height: 462px;
    }

    &__item {
      padding: 0;
      max-width: 316px;
      box-sizing: border-box;
      flex-direction: column;
    }

    &__info {
      min-height: 197px;
      width: 316px;
      padding: 27px 34px 24px 28px;
    }

    &__name {
      padding: 0 0 5px 0;
    }

    &__description {
      padding-top: 0;
    }

    &__img {
      width: 316px;
      height: 462px;
    }
  }
}
