.reviews {
  padding:  8px 30px 45px 30px;

  &__item {
    width: 260px;
    padding-top: 16px;
    padding-bottom: 32px;
  }

  &__text {
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 34px;
    color: @grey-dark;
  }

  &__author {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: @black;
  }

  &__nickname {
    display: inline-block;
    padding-top: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: @grey-dark;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 37px;
  }
}
