.reviews {
  padding:  0 30px 45px 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: @grey-dark;
  background-color: @white;

  &__title {
    padding-bottom: 14px;
    font-size: 25px;
    line-height: 30px;
    color: @black;
  }

  &__item {
    width: 260px;
    padding-bottom: 32px;
  }

  &__text {
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 34px;
  }

  &__author {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: @black;
  }

  &__nickname {
    display: inline-block;
    padding-top: 6px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 37px;
  }
}
