.social {
  margin: 0;
  padding: 0;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social__item {
  margin: 0;
  padding: 0 15px;
}

.social__link {
  margin: 0;
  padding: 0;
  &:hover path{
    fill: @green-link;
  }
  &:active path{
    fill: @green-link;
    opacity: 0.3;
  }
}

