.social {
  margin: 0;
  padding: 0;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin: 0;
    padding: 0 20px;
  }

  &__link {
    margin: 0;
    padding: 0;
    &:hover path {
      fill: @green-regular;
    }
    &:active path {
      fill: @green-regular;
      opacity: 0.3;
    }
  }
}


