.title {
  color: @black;
  font-size: 25px;
  line-height: 30px;

  &--contacts {
    font-size: 18px;
  }

  &--index {
    font-size: 27px;
    line-height: 30px;
  }

  &--catalog {
    font-size: 27px;
    line-height: 30px;
  }
}
