.video {
  margin: 0 30px;
  padding: 20px 0 33px 0;
  border: 1px solid @grey-regular;
  box-sizing: border-box;

  &__title {
    margin: 0;
    padding: 0;
    padding-left: 90.5px;
    padding-bottom: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: @black;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 33px;
      width: 32px;
      height: 22px;
      background-image: url("../img/icon-video.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &__img {
    width: 260px;
    height: 150px;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100.6px;
      height: 76.8px;
      background-image: url("../img/icon-play.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: 2;
    }
  }

  &__description {
    margin: 0;
    padding: 31px 0 41px 34px;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: @grey-dark;
  }

  &__button {
    margin: 0 32px;
    padding: 17px 20px;
    font-size: 18px;
    line-height: 16px;

    &:hover {
      color: @white;
      background: linear-gradient(0deg, #444444, #444444);
    }

    &:active {
      background: linear-gradient(0deg, #444444, #444444);
      opacity: 0.3;
    }
  }
}

