@grey-dark: #444444;
@black: #000000;
@white: #FFFFFF;
@grey-light: #F1F1F1;
@green-light: #63D1BB;
@green-dark: #56C3B2;
@green-regular: #46C1AE;
@grey-regular: #ECECEC;

@tablet: 768px;
@desktop: 1150px;
