@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/opensans.woff") format("woff2"), url("../fonts/opensans.woff2") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensansbold.woff") format("woff2"), url("../fonts/opensansbold.woff2") format("woff");
}
* {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}
.page__header {
  width: 320px;
  margin: 0 auto;
  position: relative;
}
.page__footer {
  width: 100%;
  background: #f1f1f1;
}
@media (min-width: 768px) {
  .page__header {
    width: 768px;
  }
}
@media (min-width: 1150px) {
  .page__header {
    width: 1150px;
  }
}
.title {
  color: #000000;
  font-size: 25px;
  line-height: 30px;
}
.title--contacts {
  font-size: 18px;
}
.title--header {
  font-size: 27px;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 73px;
}
.title--index {
  width: 260px;
  font-size: 27px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 119px;
}
.title--modal {
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  width: 60%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .title {
    font-size: 43px;
    line-height: 50px;
  }
  .title--contacts {
    line-height: 55px;
    position: relative;
  }
  .title--contacts::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 47px;
    height: 81px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .title--header {
    padding-top: 101px;
    padding-bottom: 75px;
  }
  .title--index {
    width: 668px;
    padding-top: 154px;
    padding-bottom: 371px;
  }
  .title--modal {
    font-size: 30px;
    line-height: 57px;
  }
}
@media (min-width: 1150px) {
  .title {
    font-size: 53px;
    line-height: 57px;
  }
  .title--index {
    width: 700px;
    padding-bottom: 357px;
  }
  .title--header {
    padding-bottom: 112px;
  }
  .title--goods {
    position: absolute;
    z-index: 1;
    top: 130px;
  }
  .title--contacts::before {
    left: -110px;
    top: -17px;
  }
  .title--modal {
    font-size: 30px;
  }
}
.page-header {
  color: #000000;
  background-color: #ffffff;
}
.logo {
  display: block;
  width: 86px;
  height: 35px;
}
@media (min-width: 768px) {
  .logo {
    width: 112px;
    height: 46px;
  }
}
@media (min-width: 1150px) {
  .logo {
    width: 149px;
    height: 72px;
  }
}
.navigation {
  border-bottom: 1px solid #f1f1f1;
}
.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.navigation__item {
  width: 100%;
  border-top: 1px solid #f1f1f1;
  padding: 27px 20px 27px 76px;
  box-sizing: border-box;
}
.navigation__item--logo {
  padding: 22px 118px 23px 116px;
  text-align: center;
}
.navigation__item--basket,
.navigation__item--search {
  position: relative;
}
.navigation__item--new-products,
.navigation__item--sale,
.navigation__item--delivery,
.navigation__item--off {
  display: none;
}
.navigation__link {
  text-align: left;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}
.navigation__link:hover,
.navigation__button-search:hover {
  opacity: 0.6;
}
.navigation__link:hover path,
.navigation__button-search:hover path {
  fill: #63d1bb;
}
.navigation__link:active,
.navigation__button-search:active {
  opacity: 0.3;
}
.navigation__button-search {
  padding: 0;
  width: 150px;
  text-align: left;
  font: inherit;
  line-height: 24px;
  font-weight: 700;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.navigation__search {
  position: absolute;
  left: 32px;
  top: 30px;
}
.navigation__basket {
  position: absolute;
  left: 30px;
  top: 28px;
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    height: 89px;
  }
  .navigation__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .navigation__item {
    border-top: none;
    padding: 0;
  }
  .navigation__item--logo {
    width: 370px;
    padding: 0;
    padding-top: 23px;
    padding-left: 50px;
  }
  .navigation__item--search {
    font-size: 0;
    padding: 0;
    width: 84px;
    height: 89px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    order: 1;
    display: block;
  }
  .navigation__item--basket {
    padding: 33px 0 30px 82px;
    width: 264px;
    order: 2;
    display: block;
    line-height: 24px;
  }
  .navigation__item--catalog,
  .navigation__item--knitting,
  .navigation__item--delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    margin-top: 20px;
  }
  .navigation__item--catalog {
    margin-left: 50px;
    width: 167px;
    order: 3;
  }
  .navigation__item--knitting {
    order: 4;
    width: 167px;
    padding: 0;
  }
  .navigation__item--delivery {
    margin-right: 50px;
    margin-left: auto;
    text-align: right;
    width: 231px;
    order: 5;
    font-weight: normal;
  }
  .navigation__search {
    left: 33px;
    top: 36px;
  }
  .navigation__basket {
    left: 32px;
    top: 35px;
  }
  .navigation__link {
    padding-left: 0;
  }
}
@media (min-width: 1150px) {
  .navigation__item {
    border-top: none;
    padding: 0;
  }
  .navigation__item--logo {
    width: 250px;
    padding: 9px 0 8px 0;
    order: 2;
  }
  .navigation__item--search {
    order: 3;
  }
  .navigation__item--catalog,
  .navigation__item--knitting,
  .navigation__item--basket {
    font-size: 17px;
    line-height: 24px;
    margin: 0;
  }
  .navigation__item--basket {
    padding: 33px 0 30px 82px;
    width: 311px;
    order: 4;
  }
  .navigation__item--catalog {
    padding: 32px 0 32px 50px;
    width: 235px;
    order: 0;
    border-right: 1px solid #ececec;
  }
  .navigation__item--knitting {
    padding: 32px 0 32px 35px;
    width: 265px;
    order: 1;
  }
  .navigation__item--new-products,
  .navigation__item--sale,
  .navigation__item--delivery {
    font-size: 15px;
    line-height: 24px;
    display: block;
  }
  .navigation__item--delivery {
    margin-right: 50px;
    order: 7;
  }
  .navigation__item--new-products {
    margin: 19px 0 0 50px;
    width: 220px;
    order: 5;
  }
  .navigation__item--sale {
    margin-top: 19px;
    width: 130px;
    order: 6;
  }
  .navigation__search {
    left: 33px;
    top: 36px;
  }
  .navigation__basket {
    left: 32px;
    top: 35px;
  }
  .navigation__link {
    padding-left: 0;
  }
}
.page-main {
  color: #000000;
  background-color: #ffffff;
}
.page-main__contacts,
.page-main__about {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: 320px 7px;
}
@media (min-width: 768px) {
  .page-main__contacts,
  .page-main__about {
    background-size: 772px 17px;
  }
  .page-main__goods,
  .page-main__products,
  .page-main__filters {
    width: 100%;
    position: relative;
  }
  .page-main__goods::after,
  .page-main__products::after,
  .page-main__filters::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 27px;
    background-image: url("../img/line.svg");
    background-repeat: repeat-x;
    background-position: 50% 100%;
  }
}
@media (min-width: 1150px) {
  .page-main__contacts,
  .page-main__about {
    background-size: 1050px 23px;
  }
  .page-main__reviews {
    margin: 0 auto;
  }
  .page-main__goods::after,
  .page-main__products::after,
  .page-main__filters::after {
    height: 54px;
    top: -25px;
    background-position: 50% 50%;
    background-size: 1250px 100%;
  }
  .page-main__products,
  .page-main__filters {
    top: -20px;
  }
}
.button {
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 14px 0;
}
.button:hover {
  color: #ffffff;
  background: #444444;
}
.button:active {
  background: #444444;
  opacity: 0.3;
}
.button--burger {
  width: 20px;
  height: 14px;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  position: absolute;
  top: 25px;
  right: 41px;
  border: 0;
  display: block;
}
.button--burger::before {
  position: relative;
  background-color: transparent;
  border: 0;
}
.button--burger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 14px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.button--close {
  width: 21px;
  height: 20px;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  position: absolute;
  top: 20px;
  right: 41px;
  border: 0;
}
.button--close::before {
  position: relative;
  background-color: transparent;
  border: 0;
}
.button--close::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.button--review {
  display: inline-block;
}
.button--products {
  width: 20px;
  height: 19px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  bottom: 33px;
  right: 25px;
  border: 0;
}
.button--video {
  width: 192px;
  line-height: 16px;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 0;
}
.button--filters {
  padding: 16px 0;
  font-size: 17px;
  line-height: 16px;
}
.button--prev,
.button--next {
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  position: relative;
}
.button--prev::before,
.button--next::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 37px;
  width: 50px;
  height: 26px;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.button--prev:hover,
.button--next:hover {
  background: transparent;
  opacity: 0.6;
}
.button--prev:active,
.button--next:active {
  background: transparent;
  opacity: 0.3;
}
.button--next::before {
  background-image: url("../img/icon-right-arrow.svg");
}
.button--contacts {
  display: block;
  margin: 0 auto;
  width: 260px;
}
.button--basket-form {
  margin-top: 30px;
  padding: 18px 30px;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}
.button--basket-form:hover,
.button--basket-form:focus {
  background-color: #46c1ae;
}
.button--basket-form:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .button {
    font-size: 17px;
  }
  .button--burger {
    display: none;
  }
  .button--prev,
  .button--next {
    width: 87px;
    height: 52px;
    border: none;
  }
  .button--prev::before,
  .button--next::before {
    top: 12px;
    left: 17px;
  }
  .button--review {
    position: absolute;
    top: 75px;
    right: 50px;
    width: 171px;
  }
  .button--contacts {
    display: block;
    margin: 0 auto;
    width: 230px;
  }
  .button--products {
    right: 32px;
  }
  .button--products:hover {
    opacity: 0.6;
  }
  .button--products:hover path {
    fill: #63d1bb;
  }
  .button--products:active {
    opacity: 0.3;
  }
  .button--video {
    width: 100%;
  }
  .button--filters {
    width: 230px;
    order: -1;
  }
}
@media (min-width: 1150px) {
  .button--contacts {
    position: absolute;
    left: 225px;
    bottom: 105px;
    margin: 0;
    padding: 16px 27px;
    height: 52px;
  }
  .button--review {
    top: 81px;
    right: 50px;
  }
}
.about-company {
  margin: 0 auto;
  padding: 35px 0 57px 0;
  background-color: #ffffff;
}
.about-company__list {
  list-style: none;
}
.about-company__item {
  padding-top: 83px;
}
.about-company__item:nth-child(1) {
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-position: 8px 27px;
}
.about-company__item:nth-child(2) {
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  background-position: 0 28px;
}
.about-company__item:nth-child(3) {
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
  background-position: 7px 33px;
}
.about-company__item:nth-child(4) {
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  background-position: 4px 30px;
}
.about-company__item:nth-child(5) {
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  background-position: -5px 31px;
}
.about-company__item:nth-child(6) {
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-position: 3px 29px;
}
@media (min-width: 768px) {
  .about-company {
    padding: 73px 0 82px 0;
  }
  .about-company__list {
    font-size: 20px;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  .about-company__item {
    padding-top: 111px;
    width: 50%;
  }
  .about-company__item:nth-child(1) {
    padding-top: 68px;
    background-position: 8px 12px;
  }
  .about-company__item:nth-child(2) {
    order: 3;
    background-position: 0 57px;
  }
  .about-company__item:nth-child(3) {
    order: 5;
    background-position: 8px 63px;
  }
  .about-company__item:nth-child(4) {
    padding-top: 68px;
    order: 2;
    background-position: 3px 14px;
  }
  .about-company__item:nth-child(5) {
    order: 4;
    background-position: -5px 60px;
  }
  .about-company__item:nth-child(6) {
    order: 6;
    background-position: 3px 59px;
  }
}
@media (min-width: 1150px) {
  .about-company {
    padding: 90px 175px 86px 175px;
    box-sizing: border-box;
  }
  .about-company__item {
    padding-top: 108px;
  }
}
.goods {
  margin: 0 auto;
  padding: 30px 0 34px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  color: #444444;
}
.goods__text {
  display: block;
  padding-top: 5px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}
.goods__description {
  padding-top: 17px;
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 21px;
}
.goods__table {
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  border-collapse: collapse;
}
.goods__row {
  border-bottom: 1px solid #ececec;
}
.goods__first-column,
.goods__second-column {
  padding: 9px 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
}
.goods__first-column {
  width: 38%;
}
.goods__price {
  padding-top: 23px;
  margin-bottom: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .goods {
    padding: 51px 0 52px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .goods__text {
    width: 100px;
    margin-left: 128px;
    text-align: center;
  }
  .goods__item {
    position: relative;
    margin-top: 39px;
  }
  .goods__info {
    width: 43%;
  }
  .goods__description {
    padding-top: 0;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 38px;
  }
  .goods__table {
    margin-bottom: 0;
  }
  .goods__first-column {
    width: 97px;
  }
  .goods__price {
    margin-bottom: 32px;
    font-size: 20px;
  }
  .goods__order {
    width: 292px;
    padding-top: 38px;
  }
  .goods__img {
    width: 334px;
    height: 404px;
    position: absolute;
    top: 11px;
    right: 0;
  }
}
@media (min-width: 1150px) {
  .goods {
    padding: 130px 50px 74px 175px;
    position: relative;
  }
  .goods__first-column,
  .goods__second-column {
    padding-bottom: 11px;
  }
  .goods__text {
    position: absolute;
    top: 135px;
    left: -95px;
  }
  .goods__info {
    width: 48%;
  }
  .goods__item {
    width: 75%;
    margin-top: 38px;
  }
  .goods__first-column {
    max-width: 35%;
  }
  .goods__description {
    padding-top: 55px;
    margin-bottom: 53px;
  }
  .goods__order {
    padding-top: 86px;
  }
  .goods__img {
    width: 525px;
    height: 636px;
    top: -100px;
    right: -255px;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro--index {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
.intro--page {
  background-color: #f1f1f1;
}
.intro__blocks {
  width: 320px;
  display: flex;
  flex-direction: column;
}
.intro__item {
  padding: 24px 160px 31px 30px;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  display: block;
}
.intro__item:hover {
  padding: 19px 160px 36px 30px;
  margin-top: -5px;
}
.intro__item--lighter {
  background-color: #63d1bb;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 245px 23px;
}
.intro__item--lighter:hover {
  background-position: 245px 18px;
  background-image: url("../img/icon-interior-hover.svg");
}
.intro__item--lighter:active {
  background-image: url("../img/icon-interior-active.svg");
}
.intro__item--darker {
  background-color: #56c3b2;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 234px 21px;
}
.intro__item--darker:hover {
  background-position: 234px 16px;
  background-image: url("../img/icon-toy-hover.svg");
}
.intro__item--darker:active {
  background-position: 234px 16px;
  background-image: url("../img/icon-toy-active.svg");
}
@media (min-width: 768px) {
  .intro--index {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 1%;
  }
  .intro__blocks {
    width: 668px;
    flex-direction: row;
    padding: 0 auto;
  }
  .intro__item {
    width: 334px;
    padding: 25px 167px 34px 36px;
    font-size: 20px;
    line-height: 30px;
  }
  .intro__item:hover {
    padding: 20px 167px 39px 36px;
  }
  .intro__item--lighter {
    background-position: 258px 30px;
  }
  .intro__item--lighter:hover,
  .intro__item--lighter:active {
    background-position: 258px 25px;
  }
  .intro__item--darker {
    background-position: 240px 30px;
  }
  .intro__item--darker:hover,
  .intro__item--darker:active {
    background-position: 240px 25px;
  }
}
@media (min-width: 1150px) {
  .intro--index {
    background-image: url("../img/hero-desktop@1x.jpg");
  }
  .intro__blocks {
    width: 1050px;
  }
  .intro__item {
    width: 525px;
    padding: 25px 350px 34px 37px;
    font-size: 20px;
    line-height: 30px;
  }
  .intro__item:hover {
    padding: 20px 350px 39px 37px;
  }
  .intro__item--lighter {
    background-position: 450px 30px;
  }
  .intro__item--lighter:hover,
  .intro__item--lighter:active {
    background-position: 450px 25px;
  }
  .intro__item--darker {
    background-position: 430px 31px;
  }
  .intro__item--darker:hover,
  .intro__item--darker:active {
    background-position: 430px 26px;
  }
}
.reviews {
  margin: 0 auto;
  padding-bottom: 45px;
  box-sizing: border-box;
  color: #444444;
  line-height: 24px;
  font-weight: normal;
}
.reviews__item {
  padding-top: 14px;
  padding-bottom: 32px;
}
.reviews__text {
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 34px;
}
.reviews__author {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.reviews__nickname {
  display: block;
  padding-top: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #444444;
}
.reviews__buttons {
  display: flex;
  margin-bottom: 36px;
}
.reviews__wrapper {
  padding: 0 30px;
}
@media (min-width: 768px) {
  .reviews {
    padding: 82px 0 71px 0;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px auto;
    position: relative;
  }
  .reviews__wrapper {
    padding: 0 50px;
  }
  .reviews__item {
    width: 100%;
    min-height: 232px;
    padding-top: 39px;
    padding-bottom: 47px;
    display: flex;
    flex-direction: column;
  }
  .reviews__text {
    font-size: 17px;
    padding: 0;
    flex-grow: 1;
  }
  .reviews__author {
    align-items: flex-end;
    font-size: 18px;
  }
  .reviews__buttons {
    position: absolute;
    bottom: 80px;
    right: 50px;
  }
}
@media (min-width: 1150px) {
  .reviews {
    margin: 0 auto;
    padding: 80px 50px 118px 175px;
    background-image: url("../img/review@1x.jpg");
    background-position: 50px 0;
  }
  .reviews__item {
    min-height: 190px;
    padding-top: 37px;
    padding-bottom: 47px;
  }
  .reviews__text {
    width: 875px;
  }
  .reviews__buttons {
    bottom: 128px;
  }
}
.contacts {
  margin: 0 auto;
  padding: 40px 0 39px 0;
  position: relative;
  box-sizing: border-box;
}
.contacts__body {
  padding-bottom: 34px;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.contacts__row {
  display: flex;
  flex-wrap: nowrap;
  padding: 28px 0 0 0;
}
.contacts__first-column {
  width: 76px;
}
.contacts__second-column {
  width: 163px;
}
.contacts__email {
  cursor: pointer;
  border-bottom: 1px solid #46c1ae;
}
.contacts__email:hover,
.contacts__email:active {
  color: #46c1ae;
}
.contacts__email:active {
  border-bottom: 0;
}
@media (min-width: 768px) {
  .contacts {
    padding: 83px 0 52px 0;
  }
  .contacts__body {
    font-size: 17px;
    padding-bottom: 49px;
    width: 668px;
    display: flex;
    justify-content: space-between;
  }
  .contacts__row {
    flex-direction: row;
    padding-top: 47px;
  }
  .contacts__first-column {
    width: 79px;
  }
  .contacts__second-column {
    width: 245px;
    padding-right: 10px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    padding: 173px 0 190px 175px;
    display: flex;
  }
  .contacts__body {
    flex-direction: column;
  }
  .contacts__row {
    padding-top: 33px;
  }
  .contacts__second-column {
    width: 250px;
  }
}
.page-footer {
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  background: #f1f1f1;
  display: grid;
  grid-auto-flow: row;
}
.page-footer__logo {
  display: none;
}
.page-footer__logo:hover,
.page-footer__logo:focus {
  opacity: 0.6;
}
.page-footer__logo:active {
  opacity: 0.3;
}
.page-footer__social {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-footer__copyright {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .page-footer {
    grid-auto-flow: column;
    grid-template-columns: 20% 48% 32%;
    grid-template-rows: 145px;
  }
  .page-footer__logo {
    grid-column: 0.5;
    grid-row: 1;
    display: block;
    margin: auto 0;
  }
  .page-footer__social {
    grid-column: 0.66666667;
    grid-row: 1;
    margin: auto 0;
  }
  .page-footer__copyright {
    border-top: none;
    grid-column: 0.75;
    grid-row: 1;
    margin: auto 0;
    margin-left: auto;
  }
}
@media (min-width: 1150px) {
  .page-footer {
    grid-template-columns: 15% 62% 23%;
  }
}
.copyright__text {
  font-size: 19px;
  line-height: 18px;
}
.copyright__link {
  display: inline-block;
  padding-left: 27px;
}
.copyright__link:hover path {
  fill: #46c1ae;
}
.copyright__link:active path {
  opacity: 0.3;
}
.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item {
  padding: 0 20px;
}
.social__link:hover path {
  fill: #46c1ae;
}
.social__link:active path {
  fill: #46c1ae;
  opacity: 0.3;
}
.products {
  margin: 0 auto;
  line-height: 24px;
}
.products__list {
  list-style: none;
}
.products__item {
  padding-top: 30px;
}
.products__link {
  display: flex;
  height: 195px;
}
.products__img {
  display: inline-block;
}
.products__info {
  min-height: 179px;
  display: flex;
  flex-direction: column;
  padding: 26px 28px;
  border: 1px solid #ececec;
  box-sizing: border-box;
  position: relative;
}
.products__info:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.products__info:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.products__link-item {
  color: #000000;
  font-size: 17px;
}
.products__link-item:hover {
  opacity: 0.6;
}
.products__link-item:active {
  opacity: 0.3;
}
.products__description {
  padding-top: 5px;
  padding-bottom: 18px;
  flex-grow: 1;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
.products__price {
  justify-content: flex-end;
  padding-top: 22px;
  font-size: 15px;
  border-top: 1px solid #ececec;
}
@media (min-width: 768px) {
  .products {
    padding: 24px 0 53px 0;
  }
  .products__item {
    padding-top: 54px;
    display: flex;
  }
  .products__link {
    height: 195px;
  }
  .products__img {
    width: 334px;
    height: 334px;
  }
  .products__info {
    padding: 26px 33px;
    width: 335px;
    min-height: 334px;
  }
  .products__link-item {
    font-size: 20px;
  }
  .products__description {
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 0;
  }
  .products__price {
    padding-top: 24px;
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .products {
    padding: 130px 0 37px 0;
  }
  .products__list {
    display: flex;
    justify-content: space-between;
  }
  .products__link {
    height: 462px;
  }
  .products__item {
    padding: 0;
    max-width: 316px;
    box-sizing: border-box;
    flex-direction: column;
  }
  .products__info {
    min-height: 197px;
    width: 316px;
    padding: 27px 34px 24px 28px;
  }
  .products__name {
    padding: 0 0 5px 0;
  }
  .products__description {
    padding-top: 0;
  }
  .products__img {
    width: 316px;
    height: 462px;
  }
}
.video {
  margin: 30px 30px 58px 30px;
  padding-top: 20px;
  border: 1px solid #ececec;
  box-sizing: border-box;
  line-height: 24px;
  color: #444444;
}
.video__title {
  font-size: 17px;
  padding-left: 90px;
  padding-bottom: 27px;
  color: #000000;
  position: relative;
}
.video__title::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 33px;
  width: 32px;
  height: 22px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.video__img {
  width: 260px;
  height: 150px;
}
.video__wrapper {
  position: relative;
}
.video__wrapper::before {
  content: "";
  position: absolute;
  top: calc(50% - 77px / 2);
  left: calc(50% - 101px / 2);
  width: 100px;
  height: 77px;
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  order: -1;
}
.video__wrapper:hover::before {
  transform: scale(1.2, 1.2);
}
.video__wrapper:active::before {
  transform: scale(0.8, 0.8);
  opacity: 0.3;
}
.video__block {
  margin: 34px;
  margin-top: 30px;
}
.video__description {
  margin-right: -34px;
  font-weight: normal;
  font-size: 13px;
  padding-bottom: 41px;
}
@media (min-width: 768px) {
  .video {
    margin: 0 50px 64px 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .video__title {
    padding-top: 41px;
    padding-left: 105px;
    padding-bottom: 22px;
    font-size: 20px;
    order: 2;
  }
  .video__title::before {
    top: 35px;
    left: 40px;
  }
  .video__img {
    width: 668px;
    height: 455px;
    order: 1;
  }
  .video__wrapper {
    height: 455px;
    position: relative;
  }
  .video__wrapper::before {
    content: "";
    position: absolute;
    top: calc(50% - 77px / 2);
    left: calc(50% - 101px / 2);
    width: 100px;
    height: 77px;
    background-image: url("../img/play.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    order: -1;
  }
  .video__wrapper:hover::before {
    transform: scale(1.2, 1.2);
  }
  .video__wrapper:active::before {
    transform: scale(0.8, 0.8);
    opacity: 0.3;
  }
  .video__block {
    margin: 0 40px 46px 40px;
    order: 3;
  }
  .video__description {
    font-size: 15px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .video {
    margin: 0 50px 105px 50px;
    flex-direction: row;
    position: relative;
  }
  .video__title {
    position: absolute;
    padding: 0;
    top: 96px;
    right: 110px;
    width: 179px;
  }
  .video__title::before {
    top: -50px;
    left: 3px;
  }
  .video__img {
    width: 683px;
    height: 455px;
    order: 1;
  }
  .video__block {
    max-width: 231px;
    margin: 0;
    margin-top: 170px;
    margin-left: 78px;
  }
  .video__description {
    padding-bottom: 52px;
  }
}
.filters {
  padding: 17px 0 55px 0;
  box-sizing: border-box;
}
.filters__text {
  padding-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
.filters__list {
  list-style: none;
  padding-bottom: 43px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filters__list--name {
  padding-bottom: 15px;
}
.filters__type,
.filters__color,
.filters__name,
.filters__phone,
.filters__email,
.filters__add {
  display: flex;
  flex-direction: column;
}
.filters__type {
  min-height: 170px;
}
.filters__color {
  min-height: 420px;
}
.filters__title {
  padding-bottom: 36px;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.filters__title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 100px;
  height: 1px;
  margin-left: 20px;
  background-color: #63d1bb;
}
.filters__title--name {
  padding-bottom: 27px;
}
.filters__title--phone,
.filters__title--email {
  padding-bottom: 3px;
}
.filters__title--add {
  padding-bottom: 23px;
}
.filters__item {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.filters__label {
  padding-left: 60px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.filters__input--radio + .filters__label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 1px;
  width: 34px;
  height: 34px;
  border: 2px solid #444444;
  border-radius: 50%;
}
.filters__input--radio:checked + .filters__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 13px;
  width: 15px;
  height: 15px;
  background-color: #63d1bb;
  border-radius: 50%;
}
.filters__input--checkbox + .filters__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -12px;
  width: 34px;
  height: 35px;
  border: 2px solid #444444;
}
.filters__input--checkbox:checked + .filters__label::after {
  content: "";
  position: absolute;
  left: 8px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filters__input--radio:hover + .filters__label:hover::before,
.filters__input--checkbox:hover + .filters__label:hover::before {
  border-color: #62d1ba;
}
.filters__input--radio:active + .filters__label:active::before,
.filters__input--checkbox:active + .filters__label:active::before {
  border-color: #444444;
  opacity: 0.3;
}
.filters__input {
  margin-bottom: 21px;
  padding: 14px 0;
  width: 100%;
  font-weight: normal;
  font-size: 19px;
  line-height: 18px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #000000;
  display: inline-block;
  outline: none;
  cursor: pointer;
}
.filters__input--phone,
.filters__input--email {
  margin-bottom: 35px;
  padding-right: 50px;
}
.filters__input:hover,
.filters__input:active {
  border-color: #62d1ba;
}
.filters__input--phone:hover + .filters__phone-img path,
.filters__input--phone:active + .filters__phone-img path,
.filters__input--email:hover + .filters__email-img path,
.filters__input--email:focus + .filters__email-img path {
  fill: #63d1ba;
}
.filters__phone,
.filters__email {
  position: relative;
}
.filters__phone-img {
  position: absolute;
  top: 30px;
  right: 7px;
}
.filters__email-img {
  position: absolute;
  top: 31px;
  right: 3px;
}
.filters__phone-img:hover path,
.filters__email-img:hover path,
.filters__phone-img:active path,
.filters__email-img:active path {
  fill: #63d1bb;
}
.filters__textarea {
  margin-bottom: 16px;
  padding: 17px;
  width: 100%;
  min-height: 142px;
  box-sizing: border-box;
  border: 2px solid #444444;
  outline: none;
}
.filters__input::-moz-placeholder, .filters__textarea::-moz-placeholder {
  color: #000000;
  opacity: 0.3;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
}
.filters__input::placeholder,
.filters__textarea::placeholder {
  color: #000000;
  opacity: 0.3;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
}
.filters__form-end {
  margin: 0 30px;
}
.filters__important {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .filters {
    padding: 66px 0 50px 0;
  }
  .filters__color-fill {
    width: 100%;
    background-color: #f1f1f1;
  }
  .filters__text {
    padding-bottom: 15px;
    font-size: 17px;
    line-height: 30px;
  }
  .filters__list {
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .filters__list--type {
    padding: 50px 0 25px 0;
  }
  .filters__list--color {
    padding: 48px 0 20px 0;
  }
  .filters__list--name {
    flex-direction: column;
    padding: 47px 0 54px 0;
  }
  .filters__item {
    font-size: 19px;
  }
  .filters__item--type {
    padding: 13px 0 22px 0;
    margin-bottom: 23px;
  }
  .filters__item--color {
    padding: 13px 0 16px 0;
    margin-bottom: 24px;
    width: 240px;
  }
  .filters__item--name {
    display: flex;
  }
  .filters__title {
    min-width: 167px;
    padding-top: 66px;
    padding-bottom: 0;
    align-items: flex-start;
  }
  .filters__title::after {
    display: none;
  }
  .filters__title--phone {
    padding-top: 15px;
  }
  .filters__title--email,
  .filters__title--add {
    padding-top: 17px;
  }
  .filters__type,
  .filters__color,
  .filters__name,
  .filters__phone,
  .filters__email,
  .filters__add {
    flex-direction: row;
  }
  .filters__color {
    background-color: #f1f1f1;
  }
  .filters__type {
    min-height: 220px;
  }
  .filters__color,
  .filters__name {
    min-height: 304px;
  }
  .filters__phone,
  .filters__email {
    background-color: #f1f1f1;
  }
  .filters__phone-img {
    top: 58px;
    right: 27px;
  }
  .filters__email-img {
    top: 10px;
    right: 23px;
  }
  .filters__add {
    min-height: 192px;
    padding-top: 50px;
  }
  .filters__label {
    padding-left: 80px;
  }
  .filters__input--radio + .filters__label::before {
    top: -20px;
    left: 0;
    width: 50px;
    height: 50px;
  }
  .filters__input--radio:checked + .filters__label::after {
    top: -4px;
    left: 15px;
    width: 24px;
    height: 24px;
  }
  .filters__input--checkbox + .filters__label::before {
    left: 0;
    top: -16px;
    width: 50px;
    height: 50px;
  }
  .filters__input--checkbox:checked + .filters__label::after {
    top: 2px;
    left: 10px;
    width: 33px;
    height: 22px;
    background-size: 33px 22px;
  }
  .filters__label-name {
    padding: 17px 25px 0 0;
  }
  .filters__input {
    margin: 0;
    padding: 14px 0;
  }
  .filters__input--phone,
  .filters__input--email {
    background-color: #f1f1f1;
    height: 52px;
    padding-right: 60px;
  }
  .filters__textarea {
    height: 142px;
    padding: 15px 0;
    margin-bottom: 0;
  }
  .filters__textarea::-moz-placeholder {
    padding: 0;
  }
  .filters__textarea::placeholder {
    padding: 0;
  }
  .filters__phone {
    padding: 48px 0 24px 0;
  }
  .filters__email {
    padding: 0 0 50px 0;
  }
  .filters__input::-moz-placeholder, .filters__textarea::-moz-placeholder {
    padding-left: 17px;
    font-size: 19px;
    line-height: 18px;
  }
  .filters__input::placeholder,
  .filters__textarea::placeholder {
    padding-left: 17px;
    font-size: 19px;
    line-height: 18px;
  }
  .filters__form-end {
    display: flex;
    margin: 0;
    padding: 0 50px;
  }
  .filters__important {
    display: flex;
    padding-top: 12px;
    margin: 0;
    margin-left: auto;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .filters {
    padding: 120px 0 27px 0;
  }
  .filters__text {
    margin: 0 auto;
    padding: 0 175px;
  }
  .filters__list--type {
    padding-top: 66px;
    flex-direction: column;
  }
  .filters__list--color {
    padding-right: 93px;
  }
  .filters__item--color {
    width: 260px;
  }
  .filters__title {
    padding-left: 5px;
    min-width: 115px;
  }
  .filters__title--type {
    padding-top: 80px;
  }
  .filters__title--email {
    padding-top: 17px;
  }
  .filters__title--add {
    padding-left: 0;
    padding-top: 17px;
  }
  .filters__type {
    padding-left: 56px;
  }
  .filters__color {
    padding-left: 56px;
    min-height: 228px;
  }
  .filters__name,
  .filters__phone,
  .filters__email {
    margin: 0 auto;
    padding-left: 56px;
    padding-right: 175px;
  }
  .filters__phone-img {
    top: 55px;
    right: 185px;
  }
  .filters__email-img {
    top: 8px;
    right: 180px;
  }
  .filters__input--phone,
  .filters__input--email {
    padding-right: 50px;
  }
  .filters__add {
    padding-left: 60px;
    padding-right: 175px;
    min-height: 190px;
  }
  .filters__textarea::-moz-placeholder {
    padding-left: 15px;
  }
  .filters__textarea::placeholder {
    padding-left: 15px;
  }
  .filters__form-end {
    padding: 0 225px;
  }
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.overlay--on {
  display: block;
}
.modal {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 28px 30px 46px 30px;
  position: fixed;
  top: 20%;
  left: calc(50% - 160px);
  z-index: 6;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  display: none;
}
.modal__text {
  font-weight: normal;
  margin-top: 15px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.modal__form {
  margin-top: 21px;
}
.modal--on {
  display: block;
}
@media (min-width: 768px) {
  .modal {
    left: calc(50% - 283px);
    box-sizing: border-box;
    padding: 37px 106px 46px 106px;
    width: 566px;
  }
  .modal__text {
    margin-top: 13px;
    font-size: 17px;
  }
  .modal__form {
    margin-top: 18px;
  }
}
.basket-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.basket-form__label-size {
  box-sizing: border-box;
  padding: 16px 10px;
  width: 82px;
  line-height: 16px;
  border: 2px solid #ececec;
}
.basket-form__label-size:hover,
.basket-form__label-size:focus {
  border-color: #c7c7c7;
}
.basket-form__label-size:active {
  border-color: #62d1ba;
}
.basket-form__radio-size:checked + .basket-form__label-size {
  border-color: #62d1ba;
}
@media (min-width: 768px) {
  .basket-form__label-size {
    width: 112px;
  }
}
.map {
  height: 457px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 38px;
}
.map__api {
  width: 100%;
  height: 457px;
}
.map__image-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  min-height: 457px;
}
.map__image-wrapper::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-31%, -84%);
  content: "";
  width: 67px;
  height: 100px;
  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
}
.map__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 768px;
}
@media (min-width: 768px) {
  .map {
    margin: 0 auto 55px auto;
  }
  .map::after {
    transform: translate(-30%, -91%);
  }
  .map__image-wrapper::after {
    width: 768px;
  }
}
@media (min-width: 1150px) {
  .map {
    width: 525px;
    position: absolute;
    top: 92px;
    right: 50px;
  }
  .map::after {
    transform: translate(-35%, -83%);
  }
  .map__image {
    left: 0;
    transform: translateX(0%);
  }
}
.wrapper {
  margin: 0 30px;
}
@media (min-width: 768px) {
  .wrapper {
    margin: 0 50px;
  }
}
.container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1150px) {
  .container {
    width: 1150px;
  }
}

/*# sourceMappingURL=style.css.map */
